<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-12 mx-auto ">
                <h5>leverage.</h5>
                <p class="my-3">Creative Agency, Corporate and Portfolio. Multipurpose Theme.</p>
                <ul  class="list-unstyled social">
                    <li>
                        <!--Instagram-->
                        <a href="#!">
                            <i class="fab fa-instagram"> </i>
                        </a>
                    </li>

                    <li>
                        <!-- Facebook -->
                        <a href="#!">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                    </li>

                    <li>
                        <!--Linkedin -->
                        <a href="#!">
                            <i class="fab fa-linkedin-in"> </i>
                        </a>
                    </li>

                    <li>
                        <!-- Twitter -->
                        <a href="#!">
                            <i class="fab fa-twitter"> </i>
                        </a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 col-12 mx-auto">
                <ul class="list-unstyled">
                    <li> <a href="#!">about us</a> </li>
                    <li><a href="#!">services</a></li>
                    <li><a href="#!">portfolio</a></li>
                    <li><a href="#!">pricing</a></li>
                    <li><a href="#!">image gallery</a></li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 col-12 mx-auto">
                <ul class="list-unstyled">
                    <li><a href="#!">blog news</a></li>
                    <li><a href="#!">subscribe</a></li>
                    <li><a href="#!">our team</a></li>
                    <li><a href="#!">testimonials</a></li>
                    <li><a href="#!">contact</a></li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 col-12 mx-auto">

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">
                            <i class="fas fa-phone-alt mr-2"></i>+1123 98765 4321
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="far fa-envelope mr-3"></i>hello@business
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="fas fa-map-marker-alt mr-3"></i>Office Street, 123
                        </a>
                    </li>
                    <li>
                        <button class="btn mt-4" type="submit">
                            <i class="far fa-comment-dots mr-3"></i>send a message
                        </button>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</footer>

<!-- Copyright -->
<div class="footer-copyright container">
    <ul class="list-unstyled">
        <li>
            <p>Enjoy the low price. We are tracking any intention of piracy.</p>
        </li>
        <li>
            <p>©2020 Leverage is Proudly Powered by <a href="!#">codings</a>.</p>
        </li>
    </ul>
</div>
<!-- Copyright -->