<section id="Pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pricing-text">
                    <h2>plans and pricing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat est quis lorem tristique aliquet. Cras quis tristique felis, vitae eleifend sapien.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="pricing-item mb-5">
                    <div class="card">
                        <i class="fas fa-briefcase card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">essential</h5>
                          <p class="card-text">129<span>$</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">1 GB Photos <i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">secure online transfer <i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">unlimited styles<i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">customer service<i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">manual backup<i class="far fa-check-circle"></i></li>
                        </ul>
                        <button class="btn mt-4">
                            <i class="far fa-arrow-alt-circle-right mr-3"></i>
                            chose plan
                        </button>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="pricing-item mb-5">
                    <div class="card">
                        <i class="fas fa-fire card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">standard</h5>
                          <p class="card-text">199<span>$</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">3 GB Photos <i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">secure online transfer <i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">unlimited styles<i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">customer service<i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">manual backup<i class="far fa-check-circle"></i></li>
                        </ul>
                        <button class="btn mt-4">
                            <i class="far fa-arrow-alt-circle-right mr-3"></i>
                            chose plan
                        </button>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="pricing-item">
                    <div class="card">
                        <i class="far fa-gem card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">premium</h5>
                          <p class="card-text">299<span>$</span></p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">unlimited photos <i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">secure online transfer <i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">unlimited styles<i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">customer service<i class="far fa-check-circle"></i></li>
                          <li class="list-group-item">manual backup<i class="far fa-check-circle"></i></li>
                        </ul>
                        <button class="btn mt-4">
                            <i class="far fa-arrow-alt-circle-right mr-3"></i>
                            chose plan
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dotted-line">
        <hr>
    </div>
</section>