<section id="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="services-text">
                    <hr>
                    <h2>best services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 align-self-center">
                <button class="btn" routerLink ="/" fragment="Contact">
                    <i class="far fa-comment-dots mr-3"></i>contact us
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card card-border-first">
                        <i class="fas fa-layer-group card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">digital marketing</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <a href="#" class="btn" routerLink ="/" fragment="Contact"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card">
                        <i class="fas fa-rocket card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">trade shows</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <a href="#" class="btn" routerLink ="/" fragment="Contact"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card">
                        <i class="fas fa-briefcase card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">branding</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <a href="#" class="btn" routerLink ="/" fragment="Contact"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card">
                        <i class="fas fa-plane card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">content creation</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <a href="#" class="btn" routerLink ="/" fragment="Contact"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card">
                        <i class="fas fa-signal card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">graphic design</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <a href="#" class="btn" routerLink ="/" fragment="Contact"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card card-border-last">
                        <i class="fas fa-inbox card-img-top"></i>
                        <div class="card-body">
                          <h5 class="card-title">media buying</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <a href="#" class="btn" routerLink ="/" fragment="Contact"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dotted-line">
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="services-text">
                    <hr>
                    <h2>our portfolio</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 align-self-center">
                <button class="btn" routerLink ="/" fragment="Contact">
                    <i class="far fa-comment-dots mr-3"></i>contact us
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card card-border-first">
                        <div class="card-body">
                          <h5 class="card-title">imaginary art</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <!-- <img src="../../assets/images/work-1.jpg" class="card-img-top"> -->
                          <ngx-lightbox class="item" galleryKey="galleryKey1" (imagesLoaded)="imagesLoaded($event)"></ngx-lightbox>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">creative wall</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <!-- <img src="../../assets/images/work-2.jpg" class="card-img-top"> -->
                          <ngx-lightbox class="item" galleryKey="galleryKey2" (imagesLoaded)="imagesLoaded($event)"></ngx-lightbox>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="services-item">
                    <div class="card card-border-last">
                        <div class="card-body">
                          <h5 class="card-title">share design</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                          <!-- <img src="../../assets/images/work-3.jpg" class="card-img-top"> -->
                          <ngx-lightbox class="item" galleryKey="galleryKey3" (imagesLoaded)="imagesLoaded($event)"></ngx-lightbox>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dotted-line-parent">
        <div class="dotted-line">
            <hr>
        </div>
    </div>
</section>